* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  color: #fff;
  background: #000;
}

/* MAIN-CONTAINER */
.main-container {
  display: flex;
  height: 80vh;
}
/* SIDEBAR */
.main-container .aside {
  background: red;
  width: 500px;
  text-align: center;
}
/* MAIN-CONTAINER */
.main-container .main {
  width: 100%;
  background: green;
}

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #000;
}
